.list__item {
  min-width: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  text-align: center;
}
.list__title {
  font-weight: 700;
}
.book__form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
